* {
    padding: 0;
    margin: 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  body {
    font-family: "OpenSans", sans-serif;
    margin: 0;
    font-size: 16px;
  }
  
  @font-face {
    font-family: "OpenSans regular", sans-serif;
    src: url(/fonts/OpenSans-Regular.woff);
    font-weight: regular;
    font-style: normal;
  }
  
  @font-face {
    font-family: "OpenSans bold", sans-serif;
    src: url(/fonts/OpenSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
  }
  
  /*HEADER*/
  .header {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-top: 28px;
    padding-bottom: 130px;
    z-index: 1;
    width: 100%;
  }
  
  @media (min-width: 641px) and (max-width: 1199px) {
    .header {
      background-image: url(/images/banner-bg-tablet.jpg);
    }
  }

  .header:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .header_container {
    display: flex;
    align-items: center;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
  }
  @media (min-width: 641px) and (max-width: 1199px) {
    .list_item_link {
      display: none;
    } 
  }
  
  /*MENU*/
  .menu_header {
    display: flex;
    justify-content: space-between;
  }
  
  .logo_img {
    width: 180px;
  }
  
  .nav_list {
    display: flex;
    width: 100%;
  }
  
  .nav_list_item:nth-child(n + 2) {
    margin-left: 35px;
  }
  
  .nav_list_item {
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
  }
  
  .nav_list_item:hover {
    text-decoration: underline;
  }
  
  .header_title {
    position: relative;
    font-family: OpenSansBold, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 690px;
    font-size: 45px;
    margin: 120px auto 0px;
    padding: 0;
  }
  
  /*PAGE*/
  
  .page__trends__container {
    display: flex;
  }

  @media (min-width: 641px) and (max-width: 1199px) {
    .page__trends__container {
      flex-wrap: wrap;
    } 
  }
 
  .trends__card {
    display: flex;
    min-width: 25%;
    min-height: 320px;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
  }
  @media (min-width: 641px) and (max-width: 1199px) {
    .trends__card {
      width: 49%;
    }
  }

  @media (min-width: 641px) and (max-width: 1199px){
    .trends__card:nth-child(n+1){
      margin-bottom: 4px;
    }
  }
    
  .trends__card:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }  


  .trends__garden{
    background-image: url(/images/trend1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 4px;
  }

  .trends__cheese{
    background-image: url(/images/trend2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 4px;
  }
  .trends__camping{
    background-image: url(/images/trend3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 4px;
  }
  .trends__lemon{
    background-image: url(/images/trend4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .border__card {
    border: solid 3px #b59f5b;
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
  }

  .card__text{
   color: white;
   font-family: url(/fonts/OpenSans-Bold.woff2);
   font-size: 20.5px;
   text-transform: uppercase;
  }

  .card__tags__list{
    display: flex;
    
  }
  .card__link__item{
    color:#b59f5b;
    font-family:url(/fonts/OpenSans-Bold.woff2) ;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 20px;
  }
  
  .page__title {
    font-family: "OpenSans bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 2;
    margin: 0;
    color: #0f0d0e;
  }
  
  .page__title:after {
    content: "";
    display: block;
    border-bottom: 3px solid #e1d9bd;
    width: 66px;
    margin: 6px auto 19px;
  }
  .page {
    margin-top: 64px;
  }
  
  .page_container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
    justify-content: space-between;
  }
  @media (min-width: 641px) and (max-width: 1199px) {
    .page_container {
      width: 100%;
    }
  }
  
  .main {
    width: 778px;
  }
  
  
  .card {
    display: flex;
  }
  @media (min-width: 641px) and (max-width: 1199px) {
    .card {
      flex-wrap: wrap;
      width: 390px;
    }
  }
  .card:nth-child(n + 2) {
    margin-top: 60px;
  }
  
  .card_img {
    display: block;
  }
  
  .main_photo {
    width: 380px;
  }
  @media (min-width: 641px) and (max-width: 1199px) {
    .main_photo {
      margin-left: 30px;
    }
  }


  .main_content {
    margin-left: 30px;
  }
  @media (min-width: 641px) and (max-width: 1199px) {
    .main_content {
      width: 390px;
    }
  }

  .main_tags_list {
    display: flex;
    font-family: "OpenSans bold", sans-serif;
  }
  
  .main_list_item {
    margin-right: 19px;
  }
  
  .main_item_link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #b59f5b;
  }
  
  .main_item_link:hover {
    text-decoration: underline;
    color: #b59f5b;
  }
  
  .main_title_card {
    margin-top: 15px;
    margin-bottom: 32px;
  }
  
  .main_title_link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    color: #0f0d0e;
  }
  
  .main_title_link:hover {
    color: #b59f5b;
  }
  
  .card_date {
    font-size: 12px;
    margin-bottom: 58px;
  }
  
  .date {
    display: inline-block;
    color: #888888;
    margin-right: 16px;
  }
  
  .author {
    display: inline-block;
    font-weight: bold;
  }
  
  .main_text {
    font-size: 15px;
    line-height: 1.46;
  }
  
  .text {
    margin-top: 20px;
  }
  
  
  .new_posts_container {
    width: 272px;
  }
  @media (min-width: 641px) and (max-width: 1199px) {
    .new_posts_container {
      margin-left: 35px;
      margin-right: 35px;
    }
  }
  
  .new_posts_title {
    font-family: "OpenSans bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 2;
    margin: 0;
    color: #0f0d0e;
  }
  
  .new_posts_title:after {
    content: "";
    display: block;
    border-bottom: 3px solid #e1d9bd;
    width: 66px;
    margin: 6px auto 19px;
  }
  
  .new_post {
    display: flex;
  }
  
  .new_post:nth-child(n + 2) {
    margin-top: 22px;
  }
  
  .post_img {
    display: block;
  }
  
  .post_photo {
    width: 70px;
  }
  
  .post_content {
    margin-left: 19px;
  }
  
  .post_date {
    display: block;
    margin-bottom: 9px;
    font-size: 12px;
    opacity: 0.54;
  }
  
  .post_title {
    font-family: "OpenSans bold", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
  }
  
  .post_title_link {
    color: #0f0d0e;
  }
  
  .post_title_link:hover {
    color: #b59f5b;
  }
  
  /*SEARCH*/
  .search_container {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .search_bar {
    width: 223px;
    height: 48px;
    background-color: rgba(153, 153, 153, 0.1);
    padding: 19px 19px 17px;
    margin: 0;
    border: none;
    font-size: 13px;
  }
  
  .search_bar:focus {
    border: 1px solid #b59f5b;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .search_button {
    background: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color: #b59f5b;
    width: 48px;
    height: 48px;
  }
  
  .search_button:hover {
    background-color: #323232;
  }
  
  .mailing_title {
    font-family: "OpenSans bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 2;
    margin: 0;
    color: #0f0d0e;
  }
  
  .mailing_title:after {
    content: "";
    display: block;
    border-bottom: 3px solid #e1d9bd;
    width: 66px;
    margin: 6px auto 19px;
  }
  
  .mailing_bar {
    width: 270px;
    height: 48px;
    background-color: rgba(153, 153, 153, 0.1);
    padding: 19px 19px 17px;
    margin: 0;
    border: none;
    font-size: 13px;
  }
  
  .mailing_bar:focus {
    border: 1px solid #b59f5b;
  }
  
  .mailing_button {
    font-family: "OpenSans bold", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 270px;
    height: 48px;
    margin-top: 17px;
    background-color: #b59f5b;
  }
  
  .mailing_button:hover {
    background-color: #323232;
  }
  
  .tags_container {
    margin-top: 60px;
  }
  
  .tags_title {
    font-family: "OpenSans bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    margin: 0;
    color: #0f0d0e;
    line-height: 2;
  }
  
  .tags_title:after {
    content: "";
    display: block;
    width: 66px;
    margin: 6px auto 19px;
    border-bottom: 3px solid #e1d9bd;
  }
  
  .tags_list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tags_item {
    border: 3px solid #eee;
    margin-bottom: 6px;
    margin-right: 5px;
  }
  
  .tags_item:hover {
    border: 3px solid #b59f5b;
  }
  
  .tags_item_link {
    font-family: "OpenSans bold", sans-serif;
    display: block;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
    font-size: 12px;
    padding: 8px 13px;
  }
  
  .tags_container {
    margin-top: 60px;
  }
  
  .themes_title {
    font-family: "OpenSans bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
    color: #0f0d0e;
    line-height: 2;
  }
  
  .themes_title:after {
    content: "";
    display: block;
    width: 66px;
    margin: 6px auto 19px;
    border-bottom: 3px solid #e1d9bd;
  }
  
  .themes_list {
    font-family: "OpenSans bold", sans-serif;
  }
  
  .themes_item {
    line-height: 36px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
  }
  
  .themes_item_link {
    font-family: "OpenSans bold", sans-serif;
    font-weight: bold;
    color: #0f0d0e;
    font-size: 14px;
  }
  
  .themes_item_link:hover {
    color: #b59f5b;
  }
  
  .themes_count {
    vertical-align: top;
    font-weight: bold;
    color: #b59f5b;
    font-size: 12px;
    margin-left: 4px;
  }
  
  .product {
    margin: 0 auto;
    width: 100%;
    padding: 0 245px;
    box-sizing: border-box;
    min-height: 435px;
  }
  @media (min-width: 641px) and (max-width: 1199px){
    .product {
      padding-left: 56px;
      padding-right: 4px; 
    }
  }

  .product__title {
    font-family: "OpenSans bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 2;
    margin: 0;
    color: #0f0d0e;
  }
  
  .product__title:after {
    content: "";
    display: block;
    border-bottom: 3px solid #e1d9bd;
    width: 66px;
    margin: 6px auto 19px;
  }

    .product__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }  

  @media (min-width: 641px) and (max-width: 1199px){
    .product__container {
      flex-wrap: wrap;
    }
  } 
  .product__card__container {
    box-sizing: content-box;
    
  }
@media (min-width: 641px) and (max-width: 1199px){
    .product__card__container:nth-child(3){
      margin-top: 197px;
    }
    .product__card__container:nth-child(2){
      margin-left:20px;
    } 
}
  

    .product__card__img {
     position: absolute;  
  }

    .product__card__text {
      box-sizing: border-box;
      border: #b59f5b 3px solid;
      width: 335px;
      height: 267px;
      position: relative;
      top: 172px;
      right: 23px;
      padding-top:55px;
      padding-left: 20px;
    }

    .name__product {
      font-size: 20px;
      font-family: "OpenSans bold", sans-serif;
      text-transform: uppercase;
      display: inline-block;
    }
    .card__description {
      font-size: 15px;
      font-family: "OpenSans bold", sans-serif;
      display: inline-block;
      line-height: 1.4;
    }

    .price__button__container{
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
      margin-top: 20px;
    }
    .price__container{
      display: flex;
      flex-direction: column;
    }
    .button__count {
      width: 120px;
      height: 48px;
      background-color: #b59f5b;
      text-align: center;
      padding-top: 14px;
    }
    .button__text {
      color:#eeeeee;
      font-family: "OpenSans bold", sans-serif;
      text-transform: uppercase;
    }
    .count_strike{
      text-decoration: line-through;
      font-size: 14px;
      font-family: "OpenSans bold", sans-serif;
    }
    .count {
      font-size: 20px;
      font-family: "OpenSans bold", sans-serif;
    }

  /*FOOTER*/
  .footer {
    display: flex;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 40px;
  }
  
  .footer_container {
    padding: 0 15px;
    margin: auto;
  }
  
  
  .social_list {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    background-color: #f4f7f6;
  }
  
  .social_item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .social_item:not(last-child) {
    margin-right: 30px;
  }
  
  .icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .social_link_dribbble {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
  }
  
  .social_link_pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
  }
  
  .social_link_tumblr {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
  }
  
  
  .copy {
    display: block;
    padding-top: 73px;
  }
  
  .copy_link {
    font-family: "OpenSans bold", sans-serif;
    font-size: 12px;
    color: #999;
  }
  